/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

:root {
  --text-color: white;
  --main-bg-color: #060C1A;
  --container-color: #121A2C;
  --icon-color: white;
  --accent-color: orange;
  --side-icon-color: #8E8888;
  --side-icon-clicked: white;
  --line-color: #192540;
}

/* THEME SWITCH */
.lightmode {
  --text-color: #1E1E1E;
  --container-color: #F5F3D1;
  --icon-color: #1E1E1E;
  --accent-color: #FDD47A;
  --main-bg-color: #D5D5D5;
  --side-icon-color: #8E8888;
  --side-icon-clicked: #463C33;
  --line-color: white;
  background: linear-gradient(to bottom, #FFD7B9, #D5E2B5);

  .cloud-image-link{
    background: 
      linear-gradient(rgba(190, 220, 192, 0.4), rgba(227, 237, 225, 0.4)), 
      url('altocumulus.jpg') center/cover no-repeat;
  }
  
}

#switch{
  all: unset;
  height: 3.1vw;
  width: 3.1vw;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#switch svg{
  fill:#FDB201;
  width: 50%;
  height: auto;
}

#switch svg:last-child{
  display: none;
}
.lightmode #switch svg:first-child{
  display: none;
}
.lightmode #switch svg:last-child{
  display: block;
}

/* FONT */
@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html, body {
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
}

.main-container {
  position: relative;
  display: grid;
  grid-template-areas:
      "side-panel-container current-forecast-container current-forecast-container todays-forecast-container"
      "side-panel-container todays-highlight-container todays-highlight-container todays-forecast-container"
      "side-panel-container cloud-image-container overview-container overview-container";
  grid-template-columns: 5% 35% 30% 23%;
  grid-template-rows: 40% 20% 30%;
  row-gap: 2%;
  column-gap: 1%;
  top: 7.5%;
  left: 3%;
  width: 94%;
  height: 90%;
  justify-content: center;
}

.main-container > div {
  background-color: var(--container-color);
  padding: 2%;
  border-radius: 20px;
  color: var(--text-color);
}

.main-container > .side-panel-container { grid-area: side-panel-container; }
.main-container > .current-forecast-container { grid-area: current-forecast-container; }
.main-container > .todays-forecast-container { grid-area: todays-forecast-container; }
.main-container > .todays-highlight-container { grid-area: todays-highlight-container; }
.main-container > .cloud-image-container { grid-area: cloud-image-container; }
.main-container > .overview-container { grid-area: overview-container; }

/* SIDE PANEL */
.side-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  
  .logo img {
    width: 100%;
    height: auto;
  }

  .website-name {
    font-family: 'Poppins';
    font-size: .7vw;
    margin-top: -15%;
  }

  .side-line {
    margin-top: -3px;
    margin-bottom: 5px;
    font-size: .9vw;
    color: var(--line-color);
  }

  .sideIcon {
    width: 3.8vh;
    height: auto;
  }

  .home svg{
    fill: var(--side-icon-clicked);
  }
}

.side-panel-container svg {
  fill: var(--side-icon-color);
}

.side-panel-container svg:hover {
  cursor: pointer;
  fill: var(--side-icon-clicked);
}

/* CURRENT FORECAST */
.current-forecast-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;

  .forecast-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 2px;
  }

  .top-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .location {
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: 44%;
    background-color: var(--accent-color);
    font-family: 'Poppins';
    border-radius: 30px;
    font-size: 1vw;
  }

  .location svg {
    fill: var(--text-color);
    width: 10%;
    height: auto;
  }

  .date,
  #time {
    font-family: 'Poppins';
    font-size: .8vw;
  }

  .condition {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 2.5vh;
    margin-top: auto;
    margin-bottom: 1%;
  }

  .temp {
    margin-top: -5%;
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 10vh;
  }

  .current-forecast-icon {
    display: flex;
    align-items: center;
    max-width: 40%;
    flex-shrink: 1
  }

  .forecastImage {
    max-width: 100%;
    height: auto;
  }
}

/* TODAY'S FORECAST */
.todays-forecast-container { 
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .todays-forecast-title {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 2vh;
    text-align: center;
    padding: 4%;
  }

  .details-container {
    display: flex;
    flex-direction: column;
  }

  .details-container > div {
    font-family: 'Poppins';
    font-size: .9vw;
    height: 12vh;
    align-items: center;
  }

  .todays-forecast1,
  .todays-forecast2,
  .todays-forecast3,
  .todays-forecast4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .todays-forecast1 > div,
  .todays-forecast2 > div,
  .todays-forecast3 > div,
  .todays-forecast4 > div {
    min-width: 25%;
    width: 27%;
    text-align: center;
  }

  .todays-forecast3 {
    background: var(--accent-color);
    border-radius: 20px;
  }

  .weather-icon {
    width: 80%;
    height: auto;
  }
}

/* TODAY'S HIGHLIGHT */
.todays-highlight-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .todays-highlight-title {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 2vh;
    margin-bottom: 1.5%;
  }

  .highlight-container {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-size: 1vw;
    margin-left: 3%;
  }

  .highlight-container > div {
    width: 70%;
  }

  .highlight-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
  }

  .title {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .measurement {
    font-family: 'Poppins';
    font-weight: 800;
  }

  .line {
    height: 8vh;
    width: 1px;
    background-color: var(--line-color);
  }

  .invisible {
    visibility: hidden;
  }

  .highlight-icon svg{
    fill: var(--icon-color);
    width: 3vw;
    height: auto;
  }
}

/* CLOUD IMAGE */
.cloud-image-link {
  border-radius: 20px;
  position: relative;
  align-items: flex-end;
  display: flex;
  height: 100%; /* or a specific height like 200px */
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('altocumulus.jpg') center/cover no-repeat;
  text-decoration: none;

  .cloud-label {
    font-family: 'Poppins';
    font-size: 1.3vh;
    color: var(--text-color);
    padding: 10px;
    z-index: 1;
  }
}

.cloud-image-link:hover {
  cursor: pointer;
  background: 
    linear-gradient(rgba(78, 81, 84, 0.4), rgba(78, 81, 84, 0.4)), 
    url('altocumulus.jpg') center/cover no-repeat;
}

/* OVERVIEW */
.overview-container{
  padding: 2%;

  .overview-title {
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 2vh;
    margin-bottom: 1.5%;
  }

  #graph {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1080px){
  * {
    transition: all 0.3s ease;
  }

  .main-container {
    grid-template-columns: 5% 35% 30% 23%;
    grid-template-rows: 25% 15% 30%;
  }

  .current-forecast-container {
    .condition {
      font-size: 2vh;
    }
    .temp {
      font-size: 7vh;
    }
  }

  .side-panel-container{
    .sideIcon{
      width: 3vw;
      height: auto;
    }
  }

  .todays-forecast-container {
    .details-container > div {
      font-size: .9vw;
      height: 7.5vh;
    }
  }

  .todays-highlight-container{
    .highlight-container{
      font-size:1.1vw;
    }
    .line{
      height: 4.2vw;;
    }
  }

}