/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

:root {
  --title-color: #FF9E5E;
  --text-color: white;
  --container-color: #121A2C;
  --icon-color: white;
  --accent-color: #DB8B06;
  --side-icon-clicked: white;
  --border-color: 1px solid rgba(171, 163, 196, 0.15);
  --box-shadow-color: 0 10px 40px rgba(15, 3, 52, 0.4);
  --font-weight-loc: 300;
  --highlight-bg: rgba(255, 158, 94, 0.15);
  --windspeed-color: #FF9E5E;
  --hum-color: #FF9E5E;
  --temp-color: #FF9E5E;
  --pres-color: #FF9E5E;

  background: #060C1A;
}

/* THEME SWITCH */
.lightmode {
  --title-color:#2D6A4F;
  --light-text-color:#113065;
  /* --light-text-color: #567C8D; */
  /* --text-color: #2F4156; */
  --text-color: #000035;
  --container-color: rgba(255, 255, 255, 0.5);
  --icon-color: #94A3B8;
  --accent-color: #FDD47A;
  --side-icon-clicked: #FFFFFF;
  --border-color: 1px solid rgba(255, 255, 255, 0.3);
  --box-shadow-color: 0 8px 32px 0 rgba(31, 38, 135, 0.07);;
  --font-weight-loc: 500;
  --highlight-bg:#F1F5F9;
  --windspeed-color: #066339;
  --hum-color: #138EFF;
  --temp-color: #F97316;
  --pres-color: #A855F7;
  
  background: linear-gradient(180deg, #E7F5E8 0%, #FEF3C7 100%);

  .cloud-image-container{
    background: 
      linear-gradient(rgba(190, 220, 192, 0.4), rgba(227, 237, 225, 0.4)), 
      url('altocumulus.jpg') center/cover no-repeat;
  }
  
  .cloud-details-container{
    background:  
      url('altocumulus.jpg') center/cover no-repeat;
  }
}

#switch{
  all: unset;
  height: 3.1vw;
  width: 3.1vw;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 870%;
}

#switch svg{
  fill: var(--accent-color);
  width: 50%;
  height: auto;
}

#switch svg:last-child{
  display: none;
}
.lightmode #switch svg:first-child{
  display: none;
}
.lightmode #switch svg:last-child{
  display: block;
}

/* FONT */
@font-face {
  font-family: 'Inter';
  src: url('Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html, body {
  background-color: var(--main-bg-color);
  height: 100%;
  width: 100%;
}

.main-container {
  position: relative;
  display: grid;
  grid-template-areas:
      "side-panel-container current-forecast-container current-forecast-container todays-forecast-container"
      "side-panel-container todays-highlight-container todays-highlight-container todays-forecast-container"
      "side-panel-container cloud-image-container overview-container overview-container";
  grid-template-columns: 5% 35% 30% 23%;
  grid-template-rows: 40% 20% 30%;
  row-gap: 2%;
  column-gap: 1%;
  top: 7.5%;
  left: 3%;
  width: 94%;
  height: 90%;
  justify-content: center;
}

.main-container > div {
  background-color: var(--container-color);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: var(--border-color);
  box-shadow: var(--box-shadow-color);
  padding: 2%;
  border-radius: 20px;
  color: var(--text-color);
}

.main-container > .side-panel-container { grid-area: side-panel-container; }
.main-container > .current-forecast-container { grid-area: current-forecast-container; }
.main-container > .todays-forecast-container { grid-area: todays-forecast-container; }
.main-container > .todays-highlight-container { grid-area: todays-highlight-container; }
.main-container > .cloud-image-container { grid-area: cloud-image-container; }
.main-container > .overview-container { grid-area: overview-container; }

/* SIDE PANEL */
.side-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  
  .logo img {
    width: 100%;
    height: auto;
  }

  .website-name {
    font-family: 'Inter';
    color: var(--title-color);
    font-weight:700;
    font-size: .65vw;
    margin-top: -15%;
  }

  .about-us{
    font-family: 'Inter';
    font-size: .5vw;
  }

  .sideIcon {
    width: 2.5vh;
    height: auto;
    fill: var(--icon-color);
  }

  .clouds-container, .home-container, .theme-switch, .about-us-container{
    margin: 20%;
  }

}

.side-panel-container svg:hover, .about-us-container svg:hover {
  cursor: pointer;
  fill: var(--side-icon-clicked);
}

/* Active state → icon turns white */
.side-panel-container > div.active{
  padding-top: 15%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 9%;
  background-color: var(--accent-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 25px -5px rgba(255, 140, 66, 0.4);
  border-radius: 35%;
}

.side-panel-container >div.active .sideIcon{
  fill: var(--side-icon-clicked);
}

/* ✅ Make home active by default */
.home-container {
  fill: var(--side-icon-clicked);
}

.home-container.active .sideIcon {
  fill: var(--side-icon-clicked);
}

/* Active state → icon turns white */
.about-us-container > div.active{
  padding-top: 15%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 9%;
  background-color: var(--accent-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 25px -5px rgba(255, 140, 66, 0.4);
  border-radius: 35%;
}

.about-us-container >div.active .sideIcon{
  fill: var(--side-icon-clicked);
}

.about-container {
  width: 257%;     
  height: 235%;   
  border-radius: 12px;
  padding: 20px;
  font-family: 'Inter';
  font-size: 1.1vw;
}

.aboutUsIcon{
  color: var(--icon-color);
}


/* CURRENT FORECAST */
.current-forecast-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;

  .forecast-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 2px;
  }

  .top-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .location {
    display: inline-flex;
    align-items: center;
    padding: 8px 10px;
    width: 44%;
    background-color: var(--accent-color);
    color: var(--text-color);
    /* box-shadow: var(--box-shadow-color); */
    /* border: var(--border-color); */
    font-family: 'Inter';
    border-radius: 50px;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: .5px;
  }

  .location-icon {
    display: flex;
    align-items: center;
    fill: var(--text-color);
    width: 10%;
    height: auto;
  }

  .date {
    margin-top: 7px;
    font-family: 'Inter';
    font-size: .8vw;
    letter-spacing: -0.5px;
    font-weight: 400;
  }

  #time{
    font-family: 'Inter';
    font-size: .6vw;
    color: var(--light-text-color);
  }

  .condition {
    font-family: 'Poppins';
    color: var(--text-color);
    font-weight: 800;
    font-size: 2.5vh;
    margin-top: auto;
    margin-bottom: 1%;
  }

  .temp {
    margin-top: -5%;
    color: var(--text-color);
    font-family: 'Poppins';
    font-weight: 800;
    font-size: 10vh;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }

  .current-forecast-icon {
    display: flex;
    align-items: center;
    max-width: 40%;
    flex-shrink: 1
  }

  .forecastImage {
    max-width: 100%;
    height: auto;
  }
}

/* TODAY'S FORECAST */
.todays-forecast-container { 
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .todays-forecast-title {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 1.9vh;
    text-align: center;
    padding: 4%;
  }

  .details-container {
    display: flex;
    flex-direction: column;
  }

  .details-container > div {
    font-family: 'Inter';
    font-size: .9vw;
    height: 12vh;
    align-items: center;
    margin-bottom: 3vh;
  }

  .todays-forecast1,
  .todays-forecast2,
  .todays-forecast3,
  .todays-forecast4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .todays-forecast1 > div,
  .todays-forecast2 > div,
  .todays-forecast3 > div,
  .todays-forecast4 > div {
    min-width: 25%;
    width: 27%;
    text-align: center;
  }

  .todays-forecast3 {
    background: var(--accent-color);
    color: var(--text-color);
    font-weight: 400;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 25px -5px rgba(255, 140, 66, 0.4);
  }

  .weather-icon {
    width: 80%;
    height: auto;
  }
}

/* TODAY'S HIGHLIGHT */
.todays-highlight-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .todays-highlight-title {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 2vh;
    margin-bottom: 2.5%;
  }

  .highlight-container {
    display: flex;
    flex-direction: row;
    font-family: 'Inter';
    margin-left: 3%;
  }

  .highlight-container > div {
    width: 70%;
  }

  .highlight-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
  }

  .title {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .name {
    color: var(--light-text-color);
    font-size: .9vw;
  }

  .measurement {
    font-family: 'Inter';
    font-weight: 800;
    color: var(--text-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    font-size: 1.2vw;
  }

  .highlight-icon svg{
    background-color: var(--highlight-bg);
    border-radius: 14px;
    width: 3vw;
    padding: 10%;
    height: auto;
  }

  .ws-icon{
    fill: var(--windspeed-color);
  }

  .hum-icon{
    fill: var(--hum-color);
  }

  .temp-icon{
    fill: var(--temp-color);
  }

  .pres-icon{
    fill: var(--pres-color);
  }
}

/* CLOUD IMAGE */
.cloud-image-container {
  border-radius: 20px;
  position: relative;
  align-items: flex-end;
  display: flex;
  height: 100%; /* or a specific height like 200px */
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('altocumulus.jpg') center/cover no-repeat;
  text-decoration: none;
}

.cloud-label {
    font-family: 'Inter';
    font-size: 1.5vh;
    color: white;
    padding: 10px;
    z-index: 1;
  }

.cloud-image-container:hover {
  cursor: pointer;
  background: 
    linear-gradient(rgba(78, 81, 84, 0.4), rgba(78, 81, 84, 0.4)), 
    url('altocumulus.jpg') center/cover no-repeat;
}

.cloud-details-container {
  width: 257%;     
  height: 235%;   
  border-radius: 12px;
  padding: 20px;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url('altocumulus.jpg') center/cover no-repeat;
}


/* OVERVIEW */
.overview-container{
  padding: 2%;

  .overview-title {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 2vh;
    margin-bottom: 1.5%;
  }

  #graph {
    width: 100%;
    height: 100%;
  }
}

.hidden {
  display: none;
}


@media only screen and (max-width: 1080px){
  * {
    transition: all 0.3s ease;
  }

  .main-container {
    grid-template-columns: 5% 35% 30% 23%;
    grid-template-rows: 40% auto 35%;
    height: 55%;
  }

  .current-forecast-container {
    .condition {
      font-size: 2vh;
    }
    .temp {
      font-size: 7vh;
    }
  }

  .side-panel-container{
    .sideIcon{
      width: 3vw;
      height: auto;
    }
  }

  .todays-forecast-container {
    .details-container > div {
      font-size: .9vw;
      height: 6.5vh;
    }
  }

  .todays-highlight-container{
    .highlight-container{
      font-size:1.1vw;
    }
    .line{
      height: 4.2vw;;
    }
  }

  .cloud-details-container {
  height: 249%;   
  }
}
